{% set error = form.error(model, field, {class: 'help-block'}) %}
{% set htmlOptions = {'data-required': "true", class: 'form-control'}|merge(htmlOptions?: {}) %}
{%if inVisible %}
    {% set visibleClass = 'in_visible' %}
{% else %}
    {% set visibleClass = 'visible' %}
{% endif %}
<li class="form-row {{ visibleClass }}">
   <div class="{{ wrapperClass|default('sf_columns column_6') }}">
       <label class="sf-select">
               {{ form.dropDownList(model, field, data|default({}), htmlOptions) }}
           <span></span>
       </label>
   </div>
</li>
