{% extends '/layouts/common.twig' %}

{% block content %}
     <div class="header">
    	<h1>Онлайн запись на прием к врачу</h1>
    </div>
     
    <div class="container">
    	<div class="container-top">
            <h3>Ваше заявка принята.</h3>

        </div>
        <div class="stepsForm sf-theme-green">
               <div class="sf-align-center">
                        <a href="{{ this.createUrl('main/index') }} "class="sf-button">На главную</a>
                </div>
                
        </div>
                
    </div>

{% endblock %}
