<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>Hospital</title>
    <link href="css/demo.css" rel="stylesheet">
    <link href="css/stepsForm.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/zabuto_calendar.min.css">
</head>
<body>

    {{ block('content') }}
   
    <script src="/js/main.js"></script>

</body>
</html>