<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>Hospital</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/main.min.css?v=1.1">
</head>
<body>

    {{ block('content') }}
   
    <script src="/js/main.js"></script>

</body>
</html>